html, body {
  height: 100vh;
}

#matchGameApp {
  height: 100%;
}

/* Shared */
.lobbyView--container, .gameplayView--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lobbyView--header, .gameplayView--header {
  font-size: 2em;
  font-family: sans-serif;
  max-width: 60%;
}

.lobbyView--button {
  padding: 1em;
  width: 50%;
  margin-top: .2em;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 1.5em;
}

/* Lobby View */
.lobbyView--buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  max-width: 50%;
}

.lobbyView--button:hover {
  cursor: pointer;
  background-color: navy;
  color: whitesmoke;
  font-weight: bold;
}

.lobbyView--container div:last-child {
  margin-top: 3em;
}

/* Gameplay View */
.gameplayView--header {
  position: relative;
}

.gameplayView--backButton {
  position: absolute;
  top: 1%;
  left: -30%;
  padding: .2em;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  height: 1em;
  width: 1em;
  padding: .5em;
}

.gameplayView--backButton:hover {
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer;
}

.gameplayRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameplayCard--container {
  position: relative;
  perspective: 800px;
  width: 2em;
  height: 2em;
  margin: .5em;
}

.gameplayCard {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.gameplayCard.flipped {
  transform-origin: center;
  transform: rotateY(180deg);
}

.gameplayCard--front, .gameplayCard--back {
  position: absolute;
  width: 2em;
  height: 2em;
  background-size: contain;
  cursor: pointer;
  backface-visibility: hidden;
}

.gameplayCard--front {
  transform-origin: center;
  transform: rotateY(180deg);
}

.gameplayCard--back {
  background-color: slategray;
  border-radius: 5px;
}
